@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <p>
            Iphone, Install the Instant Monkeys Online app!
        </p>
    </div>
</section>
}

<style>
    body, #body { background: black; }
    .featured + .main-content { background: none; }
    section.featured { margin: 10px auto 0 auto; padding: 1px; background-color: #3399cc; width: 300px; }
    section.featured div p { margin: 5px; text-align:center; }
    section.features {width: 380px; float: left; }
    section.feature { 
        float: left; 
        margin: 0px 20px 20px 0px; 
        width: 120px; 
        height: 120px; 
        background-color: rgb(122, 192, 218);
        color: white;
        font: bold 7em 'Segoe UI Symbol';
    }
</style>

<section class="features">
    <section class="feature">
        &#xE0EA;
    </section>
    <section class="feature">
        &#xE0EC;
    </section>
    <section class="feature">
        &#xE15F;
    </section>
    <section class="feature">
        &#xE1C3;
    </section>
    <section class="feature">
        &#xE0EB;
    </section>
    <section class="feature">
        &#xE0ED;
    </section>
    <section class="feature">
        &#xE150;
    </section>
    <section class="feature">
        &#xE1C4;
    </section>
</section>